
.page-confirmation-page {
  .confirmation-dialog {
    margin-bottom: 20px;
    .sky-q {
      font-size: 26px;
      font-weight: 100;
      display: block;
    }
    .bundle {
      font-size: 16px;
      display: block;
      &:before {
        content: "-";
        padding-right: 10px;
        display: inline-block;
      }
    }
  }
}
